
.icon-bell74:before { content: '\e800'; } /* '' */
.icon-basket39:before { content: '\e801'; } /* '' */
.icon-bookmark1:before { content: '\e802'; } /* '' */
.icon-bookmarks5:before { content: '\e803'; } /* '' */
.icon-briefcase74:before { content: '\e804'; } /* '' */
.icon-calendar191:before { content: '\e805'; } /* '' */
.icon-camera126:before { content: '\e806'; } /* '' */
.icon-compass116:before { content: '\e807'; } /* '' */
.icon-cup69:before { content: '\e808'; } /* '' */
.icon-dashboard1:before { content: '\e809'; } /* '' */
.icon-deleted:before { content: '\e80a'; } /* '' */
.icon-done1:before { content: '\e80b'; } /* '' */
.icon-download188:before { content: '\e80c'; } /* '' */
.icon-download189:before { content: '\e80d'; } /* '' */
.icon-download191:before { content: '\e80e'; } /* '' */
.icon-email129:before { content: '\e80f'; } /* '' */
.icon-exit21:before { content: '\e810'; } /* '' */
.icon-graphic51:before { content: '\e811'; } /* '' */
.icon-heart369:before { content: '\e812'; } /* '' */
.icon-house202:before { content: '\e813'; } /* '' */
.icon-link74:before { content: '\e814'; } /* '' */
.icon-list7:before { content: '\e815'; } /* '' */
.icon-magnifying-glass25:before { content: '\e816'; } /* '' */
.icon-memory4:before { content: '\e817'; } /* '' */
.icon-menu8:before { content: '\e818'; } /* '' */
.icon-microphone109:before { content: '\e819'; } /* '' */
.icon-more23:before { content: '\e81a'; } /* '' */
.icon-music-player20:before { content: '\e81b'; } /* '' */
.icon-notebook94:before { content: '\e81c'; } /* '' */
.icon-padlock85:before { content: '\e81d'; } /* '' */
.icon-picture51:before { content: '\e81e'; } /* '' */
.icon-pie-chart11:before { content: '\e81f'; } /* '' */
.icon-repeat-1:before { content: '\e820'; } /* '' */
.icon-rewind6:before { content: '\e821'; } /* '' */
.icon-settings71:before { content: '\e822'; } /* '' */
.icon-share48:before { content: '\e823'; } /* '' */
.icon-share52:before { content: '\e824'; } /* '' */
.icon-sound1:before { content: '\e825'; } /* '' */
.icon-speech-bubble25:before { content: '\e826'; } /* '' */
.icon-support:before { content: '\e827'; } /* '' */
.icon-tag7:before { content: '\e828'; } /* '' */
.icon-target61:before { content: '\e829'; } /* '' */
.icon-till:before { content: '\e82a'; } /* '' */
.icon-timer4:before { content: '\e82b'; } /* '' */
.icon-transit11:before { content: '\e82c'; } /* '' */
.icon-user14:before { content: '\e82d'; } /* '' */
.icon-user15:before { content: '\e82e'; } /* '' */
.icon-video194:before { content: '\e82f'; } /* '' */
.icon-view:before { content: '\e830'; } /* '' */
.icon-volume-control3:before { content: '\e831'; } /* '' */
.icon-white-flag:before { content: '\e832'; } /* '' */
.icon-writing-tool1:before { content: '\e833'; } /* '' */
.icon-add22:before { content: '\e834'; } /* '' */
.icon-back67:before { content: '\e835'; } /* '' */
.icon-basket38:before { content: '\e836'; } /* '' */
.icon-fast-forward-button:before { content: '\e837'; } /* '' */
.icon-fast-forward-button1:before { content: '\e838'; } /* '' */
.icon-file117:before { content: '\e839'; } /* '' */
.icon-folder267:before { content: '\e83a'; } /* '' */
.icon-garbage18:before { content: '\e83b'; } /* '' */
.icon-pin75:before { content: '\e83c'; } /* '' */
.icon-play126:before { content: '\e83d'; } /* '' */
.icon-power7:before { content: '\e83e'; } /* '' */
.icon-random9:before { content: '\e83f'; } /* '' */
.icon-refresh7:before { content: '\e840'; } /* '' */
.icon-right164:before { content: '\e841'; } /* '' */
.icon-star:before { content: '\e842'; } /* '' */
.icon-heart:before { content: '\e843'; } /* '' */
.icon-star-empty:before { content: '\e844'; } /* '' */
.icon-heart-empty:before { content: '\e845'; } /* '' */
.icon-down-open:before { content: '\e846'; } /* '' */
.icon-left-open:before { content: '\e847'; } /* '' */
.icon-right-open:before { content: '\e848'; } /* '' */
.icon-up-open:before { content: '\e849'; } /* '' */
.icon-angle-left:before { content: '\e84a'; } /* '' */
.icon-angle-right:before { content: '\e84b'; } /* '' */
.icon-angle-up:before { content: '\e84c'; } /* '' */
.icon-angle-down:before { content: '\e84d'; } /* '' */
.icon-gplus:before { content: '\e84e'; } /* '' */
.icon-facebook:before { content: '\e84f'; } /* '' */
.icon-pinterest-1:before { content: '\e850'; } /* '' */
.icon-tumblr:before { content: '\e851'; } /* '' */
.icon-twitter:before { content: '\e852'; } /* '' */
.icon-vine:before { content: '\e853'; } /* '' */
.icon-skype:before { content: '\e854'; } /* '' */
.icon-pencil:before { content: '\e855'; } /* '' */
.icon-arrow-thin-right:before { content: '\e856'; } /* '' */
.icon-arrow-thin-left:before { content: '\e857'; } /* '' */
.icon-right11:before { content: '\e858'; } /* '' */
.icon-profile:before { content: '\e859'; } /* '' */
.icon-pencil-3:before { content: '\e85a'; } /* '' */
.icon-pencil-5:before { content: '\e85b'; } /* '' */
.icon-man:before { content: '\e85c'; } /* '' */
.icon-linkedin:before { content: '\e85d'; } /* '' */
.icon-youtube:before { content: '\e85e'; } /* '' */
.icon-whatsapp:before { content: '\e85f'; } /* '' */
.icon-chevron-right:before { content: '\e860'; } /* '' */
.icon-chevron-left:before { content: '\e861'; } /* '' */
.icon-refresh-reload:before { content: '\e862'; } /* '' */
.icon-dot:before { content: '\e863'; } /* '' */
.icon-angle-down-circle:before { content: '\e864'; } /* '' */
.icon-angle-left-circle:before { content: '\e865'; } /* '' */
.icon-angle-right-circle:before { content: '\e866'; } /* '' */
.icon-angle-up-circle:before { content: '\e867'; } /* '' */
.icon-play:before { content: '\e868'; } /* '' */
.icon-pause:before { content: '\e869'; } /* '' */
.icon-volume-off:before { content: '\e86a'; } /* '' */
.icon-volume-up:before { content: '\e86b'; } /* '' */
.icon-video-camera:before { content: '\e86c'; } /* '' */
.icon-cog:before { content: '\e86d'; } /* '' */
.icon-ok:before { content: '\e86e'; } /* '' */
.icon-attention-alt:before { content: '\e86f'; } /* '' */
.icon-info:before { content: '\e870'; } /* '' */
.icon-cancel:before { content: '\e871'; } /* '' */
.icon-quote:before { content: '\e872'; } /* '' */
.icon-behance:before { content: '\e873'; } /* '' */
.icon-wrv03ujrgs:before { content: '\e874'; } /* '' */
.icon-medicine:before { content: '\e875'; } /* '' */
.icon-medicines4:before { content: '\e876'; } /* '' */
.icon-orbital:before { content: '\e877'; } /* '' */
.icon-pill:before { content: '\e878'; } /* '' */
.icon-shopping232:before { content: '\e879'; } /* '' */
.icon-atom27:before { content: '\e87a'; } /* '' */
.icon-bandaid:before { content: '\e87b'; } /* '' */
.icon-death4:before { content: '\e87c'; } /* '' */
.icon-erlenmeyer1:before { content: '\e87d'; } /* '' */
.icon-first-aid:before { content: '\e87e'; } /* '' */
.icon-heart36:before { content: '\e87f'; } /* '' */
.icon-injection5:before { content: '\e880'; } /* '' */
.icon-lab3:before { content: '\e881'; } /* '' */
.icon-magnifying-glass32:before { content: '\e882'; } /* '' */
.icon-magnifying-glass34:before { content: '\e883'; } /* '' */
.icon-md:before { content: '\e884'; } /* '' */
.icon-medical4:before { content: '\e885'; } /* '' */
.icon-medical8:before { content: '\e886'; } /* '' */
.icon-medical12:before { content: '\e887'; } /* '' */
.icon-medical14:before { content: '\e888'; } /* '' */
.icon-medical99:before { content: '\e889'; } /* '' */
.icon-medical109:before { content: '\e88a'; } /* '' */
.icon-login:before { content: '\e88b'; } /* '' */
.icon-user194:before { content: '\e88c'; } /* '' */
.icon-letter106:before { content: '\e88d'; } /* '' */
.icon-comment:before { content: '\e88e'; } /* '' */
.icon-location26:before { content: '\e88f'; } /* '' */
.icon-telephone5:before { content: '\e890'; } /* '' */
.icon-caduceus1:before { content: '\e891'; } /* '' */
.icon-cash:before { content: '\e892'; } /* '' */
.icon-hammer-2:before { content: '\e893'; } /* '' */
.icon-id:before { content: '\e894'; } /* '' */
.icon-home-5:before { content: '\e895'; } /* '' */
.icon-mail-4:before { content: '\e896'; } /* '' */
.icon-search-3:before { content: '\e897'; } /* '' */
.icon-magnifier52:before { content: '\e898'; } /* '' */
.icon-play-1:before { content: '\e899'; } /* '' */
.icon-media-play:before { content: '\e89a'; } /* '' */
.icon-cross:before { content: '\e89b'; } /* '' */
.icon-news-paper:before { content: '\e89c'; } /* '' */
.icon-global-1:before { content: '\e89d'; } /* '' */
.icon-culture:before { content: '\e89e'; } /* '' */
.icon-piggy:before { content: '\e89f'; } /* '' */
.icon-users-1:before { content: '\e8a0'; } /* '' */
.icon-dev:before { content: '\e8a1'; } /* '' */
.icon-accelerator:before { content: '\e8a2'; } /* '' */
.icon-view23:before { content: '\e8a3'; } /* '' */
.icon-cooking19:before { content: '\e8a4'; } /* '' */
.icon-bottle33:before { content: '\e8a5'; } /* '' */
.icon-cafe:before { content: '\e8a6'; } /* '' */
.icon-drink43:before { content: '\e8a7'; } /* '' */
.icon-hand134:before { content: '\e8a8'; } /* '' */
.icon-restaurant33:before { content: '\e8a9'; } /* '' */
.icon-ice-cream3:before { content: '\e8aa'; } /* '' */
.icon-cup37:before { content: '\e8ab'; } /* '' */
.icon-sweet8:before { content: '\e8ac'; } /* '' */
.icon-mail-alt:before { content: '\e8ad'; } /* '' */
.icon-mountains14:before { content: '\e8ae'; } /* '' */
.icon-watch16:before { content: '\e8af'; } /* '' */
.icon-black401:before { content: '\e8b0'; } /* '' */
.icon-drafts:before { content: '\e8b1'; } /* '' */
.icon-earth205:before { content: '\e8b2'; } /* '' */
.icon-burn9:before { content: '\e8b3'; } /* '' */
.icon-halffilled1:before { content: '\e8b4'; } /* '' */
.icon-favorite21:before { content: '\e8b5'; } /* '' */
.icon-two385:before { content: '\e8b6'; } /* '' */
.icon-puzzle37:before { content: '\e8b7'; } /* '' */
.icon-timelapse:before { content: '\e8b8'; } /* '' */
.icon-credit98:before { content: '\e8b9'; } /* '' */
.icon-settings49:before { content: '\e8ba'; } /* '' */
.icon-share39:before { content: '\e8bb'; } /* '' */
.icon-clock96:before { content: '\e8bc'; } /* '' */
.icon-medal6:before { content: '\e8bd'; } /* '' */
.icon-eye:before { content: '\e8be'; } /* '' */
.icon-house34:before { content: '\e8bf'; } /* '' */
.icon-wall24:before { content: '\e8c0'; } /* '' */
.icon-machine:before { content: '\e8c1'; } /* '' */
.icon-fabric:before { content: '\e8c2'; } /* '' */
.icon-cran:before { content: '\e8c3'; } /* '' */
.icon-machine2:before { content: '\e8c4'; } /* '' */
.icon-tick13:before { content: '\e8c5'; } /* '' */
.icon-arrow40:before { content: '\e8c6'; } /* '' */
.icon-down138:before { content: '\e8c7'; } /* '' */
.icon-left222:before { content: '\e8c8'; } /* '' */
.icon-right11-1:before { content: '\e8c9'; } /* '' */
.icon-cart3:before { content: '\e8ca'; } /* '' */
.icon-2:before { content: '\e8cb'; } /* '' */
.icon-1:before { content: '\e8cc'; } /* '' */
.icon-4:before { content: '\e8cd'; } /* '' */
.icon-3:before { content: '\e8ce'; } /* '' */
.icon-check51:before { content: '\e8cf'; } /* '' */
.icon-circle:before { content: '\e8d0'; } /* '' */
.icon-display1:before { content: '\e8d1'; } /* '' */
.icon-plus-squared:before { content: '\e8d2'; } /* '' */
.icon-social35:before { content: '\e8d3'; } /* '' */
.icon-iconmonstr-location-2-icon:before { content: '\e8d4'; } /* '' */
.icon-iconmonstr-email-4-icon:before { content: '\e8d5'; } /* '' */
.icon-iconmonstr-home-6-icon:before { content: '\e8d6'; } /* '' */
.icon-real11:before { content: '\e8d7'; } /* '' */
.icon-house118:before { content: '\e8d8'; } /* '' */
.icon-discount:before { content: '\e8d9'; } /* '' */
.icon-parking24:before { content: '\e8da'; } /* '' */
.icon-rent4:before { content: '\e8db'; } /* '' */
.icon-for4:before { content: '\e8dc'; } /* '' */
.icon-houses1:before { content: '\e8dd'; } /* '' */
.icon-draft:before { content: '\e8de'; } /* '' */